backups/
.flash-venv/
**/.venv/
**/__pycache__/
**/build/
**/managed_components/
**/config.local.json
**/voice-config.json
*.log
*.elf
*.map

*.exe
*.bin
*.pyc
*.zip
.env
.env.*
**/sdkconfig
**/sdkconfig.old
